
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #21a0e8;
}
.profile-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 24px;
}
.corners{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    color: white;
}
.pro{
    background-color: #cf7f26;
    padding: 0 4px 0 4px;
    font-weight: bold;
    border-radius: 5px;
}
.corners i{
    color: #29abe2;
    cursor:pointer;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
}
.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}
.name{
    font-size: 22px;
    font-weight: 700;
}
.job{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.mailid{
    font-size: 15px;
    font-weight: 500;
    color: #89c0e5;
    margin-bottom: 10px;
}
.media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.link{
    font-size: 18px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}